Sent

= content_tag :tr, id: "message_#{message.id}" do

  %td= message.id
  %td= message.recipient.nil? ? "Deleted" : (link_to message.recipient.username, message.recipient)
  %td= link_to message.subject, message
  %td= link_to (message.read ? "Read" : "Unread"), message
  %td= link_to '&times;'.html_safe, message_path(message.id), method: :delete, type: 'button', class: 'close', remote: true
  /s%td= format_time message.created_at
  