!!!
%html{lang: "en"}
	%head
		%title
			CoderSnap

	%body
		- flash.each do |name, msg|
			%div{:class => "alert alert-#{name == :notice ? "success" : "error"}"}
				.container
					= msg

		.container
			.col-md-6
				%h3
					Register User
					
				= simple_form_for @user do |f|
					= f.input :username, class: "form-control"
					= f.input :email, class: "form-control"
					= f.input :password, as: :password, label: "Password"
					= f.input :password_confirmation, as: :password, label: "Confirm Password"
					= f.file_field :avatar
					= f.submit

				.additional-links
					By signing up you agree to
					%a{:href => "#"} Terms of Use
					and
					%a{:href => "#"} Privacy

= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
= javascript_include_tag 'application', 'data-turbolinks-track' => true
= csrf_meta_tags


:css
	body { 
	background: url('http://res.cloudinary.com/nara/image/upload/v1458308288/laptopgirl_gj3axq.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	}

/= f.input :password, class: "form-control"