.panel.panel-default
  .panel-heading
    = link_to user do
      = content_tag :h3, user.username, class: "panel-title"
  .panel-body
    .container
      .row
        = render 'layouts/user_sm', user: user
      .row
        .btn-group.pull-right
          = link_to "Message", new_message_path(recipient: user.username), class: "btn btn-primary"
          = link_to 'Approve', friendships_path(user_id: user), method: :post, type: 'button', class: 'btn btn-success'
          = link_to 'Reject', "#reject_modal_#{user.id}", type: 'button', class: 'btn btn-danger', data: {toggle: 'modal'}

.modal.fade{id: "reject_modal_#{user.id}", role: 'dialog', aria: {hidden: true}}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{data: {dismiss: "modal"}, aria: {hidden: true}} &times;
        = content_tag :h4, "Reject #{user.username}", class: 'modal-title'
      .modal-body
        = content_tag :p, "Are you sure you would like to reject #{user.username}'s request?"
      .modal-footer
        = link_to "Reject", friendship_path(user), method: :delete, class: "btn btn-primary"
        %button.btn.btn-default{data: {dismiss: "modal"}} Cancel
