.row
  %h1.col-sm-8.col-md-9 Friends
  / = render 'layouts/search', url: friendships_path

%ul#friendship_tabs.nav.nav-tabs
  = content_tag :li, class: (@active_tab == "mutual" ? "active" : "") do
    %a{href: "#mutual", data: {toggle: "tab"}} Current Friends
  = content_tag :li, class: (@active_tab == "requests" ? "active" : "") do
    %a{href: "#requests", data: {toggle: "tab"}} These Want To Be Your Friend
  = content_tag :li, class: (@active_tab == "pending" ? "active" : "") do
    %a{href: "#pending", data: {toggle: "tab"}} You Sent Friend Requests To These

.tab-content
  = content_tag :div, id: 'mutual', class: "tab-pane#{' active' if @active_tab == 'mutual'}" do
    %br
    - if @mutual.blank?
      %h2 No network
    - else
      .mutual.searchable
        - @mutual.each do |friend|
          = render 'friendships', friend: friend

  = content_tag :div, id: 'requests', class: "tab-pane#{' active' if @active_tab == 'requests'}" do
    %br
    - if @requests.blank?
      %h2 No one is awaiting approval from you
    - else
      .requests.searchable
        = render 'requests', requests: @requests

  = content_tag :div, id: 'pending', class: "tab-pane#{' active' if @active_tab == 'pending'}" do
    %br
    - if @pending.blank?
      %h2 You are not awaiting approval from anyone
    - else
      .pending.searchable
        = render 'pendings', pending: @pending
